@using Stml.Web.Models.Accounts;

@model UserLoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>登录</title>

    @{await Html.RenderPartialAsync("_CoreStylesPartial");}

</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <div class="card-group">
                    <div class="card p-6">
                        <div class="card-body">
                            <h3>登录</h3>
                            <hr />
                            <form asp-action="Login" asp-route-returnUrl="@ViewBag.ReturnUrl" class="mt-4">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-user"></i>
                                        </span>
                                    </div>
                                    <input asp-for="UserName" class="form-control" type="text" placeholder="用户名">
                                </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="icon-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Password" class="form-control" type="password" placeholder="密码">
                                </div>
                                <div class="input-group mb-4">
                                    <label class="small">
                                        <input type="checkbox" asp-for="RememberMe"> 记住我
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <button class="btn btn-primary btn-block" type="submit">登录</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("_CoreScriptsPartial");
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(function () {
            $('input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_minimal-red'
            });
        });
    </script>
</body>
</html>
