################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/.vs/Stml/v16
/src/Stml.Application/obj
/src/Stml.Domain/obj
/src/Stml.Infrastructure/obj
/src/Stml.Web/obj
