.btn-circle {
    border: none;
    outline: none !important;
    overflow: hidden;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

    .btn-circle i {
        font-size: 18px;
        position: relative;
        left: -1px;
    }

.loading-wrap > .loading-text {
    font-size: 16px !important
}

.bootstrap-table th {
    border: 1px !important;
}

.field-validation-error {
    color: red;
    font-size: 12px;
}

.input-validation-error {
    border: 1px solid red;
}

.form-group {
    width: 100%;
    margin-bottom: 25px;
}

    .form-group .form-line {
        width: 100%;
        position: relative;
        border-bottom: 1px solid #ddd;
    }

        .form-group .form-line.focused:after {
            transform: scaleX(1);
        }

        .form-group .form-line:after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: 0;
            bottom: -1px;
            -moz-transform: scaleX(0);
            -ms-transform: scaleX(0);
            -o-transform: scaleX(0);
            -webkit-transform: scaleX(0);
            transform: scaleX(0);
            -moz-transition: .25s ease-in;
            -o-transition: .25s ease-in;
            -webkit-transition: .25s ease-in;
            transition: .25s ease-in;
            border-bottom: 2px solid #1f91f3;
        }

        .form-group .form-line .form-label {
            font-weight: normal;
            color: #aaa;
            position: absolute;
            top: 10px;
            left: 0;
            cursor: text;
            -moz-transition: .2s;
            -o-transition: .2s;
            -webkit-transition: .2s;
            transition: .2s;
        }

        .form-group .form-line.focused > .form-label {
            top: -10px;
            left: 0;
            font-size: 12px;
        }

    .form-group .form-control {
        width: 100%;
        border: none;
        box-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        border-radius: 0;
        padding-left: 0;
    }

.modal .modal-header {
    border: none;
    padding: 25px 25px 5px 25px;
}

    .modal .modal-header .modal-title {
        font-weight: bold;
        font-size: 16px;
    }

.modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.modal .modal-content .modal-body {
    color: #777;
    padding: 15px 25px;
}

.modal-body {
    position: relative;
    padding: 15px;
}

.group-title {
    font-size: 14px;
    font-weight: bold;
    margin-top: .5em;
    margin-bottom: .5em;
}

.group-title-secondry {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1em
}

.modal .modal-footer {
    border: none;
}

.nav-tabs {
    border-bottom: 2px solid #eee;
    margin-bottom: .75em;
}

    .nav-tabs a {
        border: none !important;
    }

        .nav-tabs a.active {
            border-bottom: 2px solid #1f91f3 !important;
        }

    .nav-tabs + .tab-content {
        border: none;
    }
