<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="ownFile" fileName="${currentdir}/Log/${shortdate}.log"
                layout="${longdate}   ${level}   ${logger}    ${message}    ${exception:format=tostring}" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--
    <logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs - no writeTo attribute-->
    <logger name="Microsoft.*" minlevel="Trace" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile" />
  </rules>
</nlog>