@using Stml.Infrastructure.Applications.Navigation

@inject INavigationManager NavManager

<nav class="sidebar-nav">
    <ul class="nav">
        @await Html.PartialAsync("_SidebarNavRenderPartial", NavManager.SideBarMenu.Items)
    </ul>
</nav>