@using Stml.Infrastructure.Applications.Navigation

@inject INavigationManager<MenuGroup, MenuItem> NavManager

<nav class="sidebar-nav">
    <ul class="nav">
        @await Html.PartialAsync("_SidebarNavRenderPartial", NavManager.SidebarMenu.Items)
    </ul>
</nav>