<!DOCTYPE html>
<html>
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Stml - Skip To My Lou">
    <meta name="author" content="weiwxg">
    <meta name="keyword" content="Stml,AspNetCore,Mvc,CoreUI">

    <title>Stml</title>

    @{await Html.RenderPartialAsync("_CoreStylesPartial"); }

    @RenderSection("Styles", false)
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    <partial name="_app-header" />

    <div class="app-body">
        <div class="sidebar">

            <partial name="_app-sidebar" />

            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">

            @RenderSection("Breadcrumbs", required: false)

            <partial name="_CookieConsentPartial" />

            <div class="container-fluid">
                <div class="animated fadeIn">

                    @RenderBody()

                </div>
            </div>
        </main>
    </div>

    <partial name="_app-footer" />

    @{await Html.RenderPartialAsync("_CoreScriptsPartial");}

    @RenderSection("Scripts", required: false)

</body>
</html>
