@section Breadcrumbs{
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-controller="Home" asp-action="Index">主页</a>
        </li>
        <li class="breadcrumb-item active">角色</li>
    </ol>
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-5">
                <h4 class="card-title mb-0">角色</h4>
            </div>
            <div class="col-sm-7">
                @if (IsGranted(PermissionNames.RoleCreate))
                {
                    <button class="btn btn-primary btn-circle float-right create-role" type="button" data-toggle="modal">
                        <i class="cui-plus"></i>
                    </button>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="tb-roles"></table>
            </div>
        </div>
    </div>
</div>

<!-- Role Create Modal -->
<div id="create-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<!-- Role Edit Modal -->
<div id="edit-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        await Html.RenderPartialAsync("_AjaxScriptsPartial");
    }

    <environment include="Development">
        <script src="~/res/role/index.js" asp-append-version="true"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/res/role/index.min.js" asp-append-version="true"></script>
    </environment>
}
